@inject INotificationService Notification

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView>
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<ToastNotification @ref=Toast></ToastNotification>

@code {
    public ToastNotification Toast { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Notification!.NotificationRaised += Toast.ShowMessage;
        return Task.CompletedTask;
    }
}
