@page "/ai-assistant"

@attribute [Authorize]

@inject IToastService ToastService
@inject IOpenAiWebApiService OpenAiService
@inject SpinnerService Spinner

<div class="col-md-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Single file upload</RadzenText>
        <InputFile OnChange="OnFileUploaded"></InputFile>
    </RadzenCard>
</div>
<div>
    <RadzenButton Click="Submit" Disabled="@(File is null)"></RadzenButton>
</div>

@code 
{
    public const string Path = "ai-assistant";
    public IBrowserFile? File;

    private void OnFileUploaded(InputFileChangeEventArgs fileArgs)
    {
        File = fileArgs.File;
    }

    private async Task Submit()
    {
        if (File is null)
        {
            return;
        }
        
        Spinner!.Show();
        var response = await OpenAiService!.UploadFileAsync(File);
        if (response.IsSuccessful)
        {
            ToastService!.ShowSuccess($"{File.Name} has been uploaded");
        }
        else if (response.ErrorDetails is not null)
        {
            ToastService!.ShowError(response.ErrorDetails.Message);
        }
        Spinner.Hide();
    }
}