@page "/counter"
@using Chat.WebUI.HttpHandlers
@inject HttpClient HttpClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @Value</p>

<button class="btn btn-primary" @onclick="Act">Click me</button>

@code {
    public string Value { get; set; } = "Def";

    private void Act()
    {
        Value = HttpClient!.BaseAddress!.ToString();
        Console.WriteLine(HttpClient is BlazorHttpClient);
    }
}
