@page "/groups-ai"

@attribute [Authorize]

@inject IToastService ToastService
@inject IGroupsWebApiService GroupService
@inject DialogService Dialog
@inject NavigationManager Navigation

<h1>Your groups</h1>

<RadzenDataGrid TItem="GroupInfoDto" Data="Groups" AllowColumnResize="true" AllowAlternatingRows="false">
    <HeaderTemplate>
        <RadzenButton Click="OpenCreateGroupDialog">Create new group</RadzenButton>
    </HeaderTemplate>
    <EmptyTemplate>
        <NoResultsInGridComponent></NoResultsInGridComponent>
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="GroupInfoDto" Property="Name" Title="Group name">
            <FooterTemplate>
                Total groups: <strong>@GroupsCount</strong>
            </FooterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="GroupInfoDto" Property="MembersCount" Width="120px" Title="Members count"/>
        <RadzenDataGridColumn TItem="GroupInfoDto" Property="MembersCount" Width="100px" Title="Files count"/>
        <RadzenDataGridColumn TItem="GroupInfoDto" Title="Actions">
            <Template Context="groupInfo">
                <RadzenButton ButtonStyle="ButtonStyle.Secondary">Edit</RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Click="() => NavigateToMembersPage(groupInfo.Id)">
                    Members
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Click="() => NavigateToFilesPage(groupInfo.Id)">
                    Files
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="async () => await DeleteGroupAsync(groupInfo.Id)">
                    Delete
                </RadzenButton>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
<RadzenPager PageSize="@PageInfo.DefaultPageSize" PageNumbersCount="DefaultPageNumbersCount" 
             AlwaysVisible="true" Count="GroupsCount"></RadzenPager>

@code 
{
    public const string Path = "groups-ai";
    public const int DefaultPageNumbersCount = 3;
    
    public List<GroupInfoDto> Groups = new();
    public int GroupsCount => Groups.Count;

    protected override async Task OnInitializedAsync()
    {
        await RefreshGroupsGrid();
    }

    private async Task OpenCreateGroupDialog()
    {
        bool? isCreated = await Dialog!.OpenAsync<CreateGroupFormComponent>("New group")!;
        if (isCreated is not null && (bool)isCreated)
        {
            await RefreshGroupsGrid();
        }
    }

    private async Task DeleteGroupAsync(int groupId)
    {
        var deletionErrorResponse = await GroupService!.DeleteGroupAsync(groupId);
        if (deletionErrorResponse is not null)
        {
            ToastService!.ShowError(deletionErrorResponse.Message);
        }
        else
        {
            await RefreshGroupsGrid();
        }
    }

    private async Task RefreshGroupsGrid()
    {
        var groupsResponse = await GroupService!.GetAllGroupsInfoAsync();
        if (groupsResponse is { IsSuccessful: true, Content: not null })
        {
            Groups = groupsResponse.Content.ToList();
        }
        else if (groupsResponse.ErrorDetails is not null)
        {
            ToastService!.ShowError(groupsResponse.ErrorDetails.Message);
        }
    }

    private void NavigateToFilesPage(int groupId)
    {
        Navigation!.NavigateTo($"{AssistantFilesPage.Path}/{groupId}");
    }

    private void NavigateToMembersPage(int groupId)
    {
        Navigation!.NavigateTo($"{GroupMembersPage.Path}/{groupId}");
    }
}