@page "/"
@using System.Security.Claims

<PageTitle>IndexPage</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.FindFirstValue("sub")</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, anonymous</h1>
    </NotAuthorized>
</AuthorizeView>
