@page "/call/{ConversationId}"
@implements IDisposable
@using Chat.WebUI.Services.WebRtc
@inject WebRtcService RtcService;
@inject IJSRuntime Js
<PageTitle>WebRtc</PageTitle>

<div class="py-4">
    <input id="channelInput" @bind="_channel" hidden/>
    <button id="startButton" @onclick="StartAction" disabled="@_startDisabled" hidden>Start</button>
    <button id="callButton" @onclick="CallAction">Call</button>
    <button id="hangupButton" @onclick="HangupAction" disabled="@_hangupDisabled">Hang Up</button>
</div>

<div class="container">
    <div class="row">
        <video class="col col-lg-6 p-0" id="localVideo" autoplay playsinline></video>
        <video class="col col-lg-6 p-0" id="remoteVideo" autoplay playsinline></video>
    </div>
</div>


@code {
    public const string Path = "/call";
    
    [Parameter]
    public string ConversationId { get; set; } = string.Empty;
    private IJSObjectReference? _module;
    private bool _startDisabled;
    //private bool _callDisabled = true;
    private bool _hangupDisabled = true;
    private string _channel = "foo";

    protected override async Task OnInitializedAsync()
    {
        _channel = ConversationId;
        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        HangupAction();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("First render of rtc page!");
            _module = await Js.InvokeAsync<IJSObjectReference>(
                "import", "./Pages/RtcPage.razor.js");
            await StartAction();
            //await CallAction();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task StartAction()
    {
        if (_startDisabled) return;
        if (string.IsNullOrWhiteSpace(_channel)) return;
        if (_module == null) throw new InvalidOperationException();
        _startDisabled = true;
        await RtcService.Join(_channel);
        var stream = await RtcService.StartLocalStream();
        await _module.InvokeVoidAsync("setLocalStream", stream);
        RtcService.OnRemoteStreamAcquired += RtcOnOnRemoteStreamAcquired;
        //_callDisabled = false;
    }

    private async void RtcOnOnRemoteStreamAcquired(object? _, IJSObjectReference e)
    {
        if (_module == null) throw new InvalidOperationException();
        
        await _module.InvokeVoidAsync("setRemoteStream", e);
        //_callDisabled = true;
        _hangupDisabled = false;
        _startDisabled = true;
        StateHasChanged();
    }

    private async Task CallAction()
    {
        //if (_callDisabled) return;
        //_callDisabled = true;
        await RtcService.Call();
        _hangupDisabled = false;
    }
    
    private async Task HangupAction()
    {
        await RtcService.Hangup();
        //_callDisabled = true;
        _hangupDisabled = true;
        _startDisabled = false;
    }
}